@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, business;
}
@theme inline {
  --font-quicksand: var(--font-quicksand);
  --font-nunito: var(--font-nunito);
}
